astroid==2.3.3
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
coloredlogs==10.0
diplomacy==1.1.1
Flask==1.1.2
gunicorn==20.1.0
humanfriendly==4.18
isort==4.3.21
itsdangerous==1.1.0
Jinja2==3.1.4
lazy-object-proxy==1.4.3
Markdown==3.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
pycparser==2.20
pylint==2.4.4
pyreadline==2.1
python-dateutil==2.8.1
pytz==2021.1
scour==0.38.2
six==1.16.0
tornado==6.0.3
tqdm==4.60.0
ujson==1.35
Werkzeug==1.0.1
wrapt==1.11.2
xmlformatter==0.2.2
